<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <jaxrs:server id="apiServer" address="/api">
        <jaxrs:inInterceptors>
            <ref bean="loginRequiredInterceptor"/>
        </jaxrs:inInterceptors>
        <jaxrs:serviceBeans>
            <ref bean="helloService"/>
            <ref bean="exceptionService"/>
        </jaxrs:serviceBeans>
        <jaxrs:outInterceptors>
            <ref bean="cachePostInterceptor"/>
        </jaxrs:outInterceptors>
        <jaxrs:providers>
            <ref bean="requestCheck"/>
            <ref bean="gsonProvider"/>
            <ref bean="jsonProvider"/>
            <ref bean="xmlProvider"/>
            <ref bean="parseExceptionHandler"/>
            <ref bean="tagMapper"/>
        </jaxrs:providers>
        <jaxrs:features>
            <cxf:logging/>
        </jaxrs:features>
    </jaxrs:server>

    <bean id="loginRequiredInterceptor" class="org.thoughtworks.api.interceptor.LoginRequiredInterceptor"/>
    <bean id="cachePostInterceptor" class="org.thoughtworks.api.interceptor.CachePostInterceptor"/>
    <bean id="tagMapper" class="org.thoughtworks.api.binding.TagMapper"/>

    <bean id="gsonProvider" class="org.thoughtworks.api.provider.GsonProvider"/>
    <bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.JSONProvider">
        <property name="supportUnwrapped" value="true"/>
        <property name="dropRootElement" value="true"/>
    </bean>

    <bean id="xmlProvider" class="org.apache.cxf.jaxrs.provider.XSLTJaxbProvider"/>

    <bean id="parseExceptionHandler" class="org.thoughtworks.api.exceptionhandler.ContentIllegalExceptionHandler"/>
    <bean id="requestCheck" class="org.thoughtworks.api.RequestCheck"/>
    <bean id="helloService" class="org.thoughtworks.api.BlogService"/>
    <bean id="exceptionService" class="org.thoughtworks.api.ThrowExceptionService"/>

</beans>